<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" type="text/css" href="tag.css" />
    <link rel="stylesheet" type="text/css" href="command.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="row command-row">
            <div class="column-list command-left">
                <div class="container">
                    <input type="text" placeholder="ポイントした時の注意">
                </div>
                <div class="container">
                    <a href="">衝撃</a>
                </div>
                <div class="container">
                    <a href="">無条件</a>
                </div>
                <div class="container">
                    <a href="">レッドストーンが必要</a>
                </div>
                <div class="container">
                    <a href="">最初のティック:オフ</a>
                </div>
                <div class="container">
                    <input type="text" placeholder="ティックの遅延">
                </div>
            </div>
            <div class="container command-right">
                <textarea></textarea>
            </div>
        </div>

        <div class="row command-row">
            <div class="column-list command-left">
                <div class="container">
                    <input type="text" placeholder="ポイントした時の注意">
                </div>
                <div class="container">
                    <a href="">衝撃</a>
                </div>
                <div class="container">
                    <a href="">無条件</a>
                </div>
                <div class="container">
                    <a href="">レッドストーンが必要</a>
                </div>
                <div class="container">
                    <a href="">最初のティック:オフ</a>
                </div>
                <div class="container">
                    <input type="text" placeholder="ティックの遅延">
                </div>
            </div>
            <div class="container command-right">
                <textarea></textarea>
            </div>
        </div>

        <div class="row command-row">
            <div class="column-list command-left">
                <div class="container">
                    <input type="text" placeholder="ポイントした時の注意">
                </div>
                <div class="container">
                    <a href="">衝撃</a>
                </div>
                <div class="container">
                    <a href="">無条件</a>
                </div>
                <div class="container">
                    <a href="">レッドストーンが必要</a>
                </div>
                <div class="container">
                    <a href="">最初のティック:オフ</a>
                </div>
                <div class="container">
                    <input type="text" placeholder="ティックの遅延">
                </div>
            </div>
            <div class="container command-right">
                <textarea></textarea>
            </div>
        </div>

        <div class="row command-row">
            <div class="column-list command-left">
                <div class="container">
                    <input type="text" placeholder="ポイントした時の注意">
                </div>
                <div class="container">
                    <a href="">衝撃</a>
                </div>
                <div class="container">
                    <a href="">無条件</a>
                </div>
                <div class="container">
                    <a href="">レッドストーンが必要</a>
                </div>
                <div class="container">
                    <a href="">最初のティック:オフ</a>
                </div>
                <div class="container">
                    <input type="text" placeholder="ティックの遅延">
                </div>
            </div>
            <div class="container command-right">
                <textarea></textarea>
            </div>
        </div>
    </div>
</body>

</html>