.wrapper {
    margin: 3vw;
}

.container {
    margin: 1.7vh;
}

.row {
    display: flex;
    flex-flow: row;
}

.row-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: scroll;
}

.row-list::-webkit-scrollbar {
    display: none;
}

.column {
    display: flex;
    flex-flow: column;
}

.column-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.column-list::-webkit-scrollbar {
    display: none;
}